@font-face {
  font-family: Kirvy;
  src: url(../fonts/Kirvy-Regular.otf);
}

@font-face {
  font-family: Kirvy;
  src: url(../fonts/Kirvy-Bold.otf);
  font-weight: bold;
}

html, body, div#root{
  margin: 0;
  padding: 0;
  height: 100%;
}

.full_height{
  height: 100%;
}

.fullWidth{
  width: 100%;
}

.spacer{
  margin-top: 10px;
}

.bottomOnly{
  border-top: none;
  border-left: none;
  border-right: none;
}

.container-fluid.main_container{
  margin:0;
  padding:0;
  border: 1px black solid;
  height: 100%;
}


